.header {
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px #00000040;

    .container {
        max-width: 1770px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0px 20px;

        .logo {
            img {
                max-width: 90px;
            }
        }

        .support {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
        }
    }
}
